@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 250px;
  margin-right: 23px;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}
